[submodule "StyleTrans/AnyV2V"]
	path = StyleTrans/AnyV2V
	url = https://github.com/lavandejoey/AnyV2V.git
	branch = main
[submodule "Detectors/AIGVDet"]
	path = Detectors/AIGVDet
	url = https://github.com/lavandejoey/AIGVDet
	branch = main
[submodule "Detectors/DeMamba"]
	path = Detectors/DeMamba
	url = https://github.com/lavandejoey/DeMamba
	branch = main
[submodule "Detectors/FakeVLM"]
	path = Detectors/FakeVLM
	url = https://github.com/lavandejoey/FakeVLM.git
	branch = main
[submodule "Detectors/SIDA"]
	path = Detectors/SIDA
	url = https://github.com/lavandejoey/SIDA.git
	branch = main
[submodule "Detectors/AntifakePrompt"]
	path = Detectors/AntifakePrompt
	url = https://github.com/lavandejoey/AntifakePrompt.git
	branch = main
[submodule "Detectors/MM-Det"]
	path = Detectors/MM-Det
	url = https://github.com/fira7s/MM-Det.git
	branch = main
[submodule "Detectors/De-Fake"]
	path = Detectors/De-Fake
	url = https://github.com/lavandejoey/De-Fake
	branch = main
[submodule "Detectors/UniversalFakeDetect"]
	path = Detectors/UniversalFakeDetect
	url = https://github.com/lavandejoey/UniversalFakeDetect
	branch = main
[submodule "Detectors/D3"]
	path = Detectors/D3
	url = https://github.com/lavandejoey/D3
	branch = main
[submodule "Detectors/c2p_FakeParts"]
	path = Detectors/c2p_FakeParts
	url = https://github.com/Triocrossing/c2p_FakeParts
	branch = main
[submodule "Detectors/fatformer_fakeparts"]
	path = Detectors/fatformer_fakeparts
	url = https://github.com/Triocrossing/fatformer_fakeparts
	branch = main
[submodule "Detectors/IML-ViT-FakeParts"]
	path = Detectors/IML-ViT-FakeParts
	url = https://github.com/Triocrossing/IML-ViT-FakeParts
	branch = main
[submodule "Detectors/HiFi_IFDL"]
	path = Detectors/HiFi_IFDL
	url = https://github.com/lavandejoey/HiFi_IFDL
	branch = main
[submodule "Detectors/CNNDetection"]
	path = Detectors/CNNDetection
	url = https://github.com/lavandejoey/CNNDetection
	branch = main
[submodule "Detectors/NPR_FakeParts"]
	path = Detectors/NPR_FakeParts
	url = https://github.com/Triocrossing/NPR_FakeParts
