[submodule "StyleTrans/AnyV2V"]
	path = StyleTrans/AnyV2V
	url = https://github.com/lavandejoey/AnyV2V.git
	branch = main
[submodule "StyleTrans/UniVST"]
	path = StyleTrans/UniVST
	url = https://github.com/lavandejoey/UniVST
	branch = main
[submodule "Detectors/AIGVDet"]
	path = Detectors/AIGVDet
	url = https://github.com/lavandejoey/AIGVDet
	branch = main
[submodule "Detectors/DeMamba"]
	path = Detectors/DeMamba
	url = https://github.com/lavandejoey/DeMamba
	branch = main
