[submodule "StyleTrans/AnyV2V"]
	path = StyleTrans/AnyV2V
	url = https://github.com/lavandejoey/AnyV2V.git
	branch = main
[submodule "Detectors/AIGVDet"]
	path = Detectors/AIGVDet
	url = https://github.com/lavandejoey/AIGVDet
	branch = main
[submodule "Detectors/DeMamba"]
	path = Detectors/DeMamba
	url = https://github.com/lavandejoey/DeMamba
	branch = main
[submodule "Detectors/FakeVLM"]
	path = Detectors/FakeVLM
	url = https://github.com/lavandejoey/FakeVLM.git
	branch = main
[submodule "Detectors/SIDA"]
	path = Detectors/SIDA
	url = https://github.com/lavandejoey/SIDA.git
	branch = main
[submodule "Detectors/AntifakePrompt"]
	path = Detectors/AntifakePrompt
	url = https://github.com/lavandejoey/AntifakePrompt.git
	branch = main
[submodule "Detectors/MM-Det"]
	path = Detectors/MM-Det
	url = https://github.com/fira7s/MM-Det.git
	branch = main
[submodule "Detectors/BusterX"]
	path = Detectors/BusterX
	url = https://github.com/lavandejoey/BusterX.git
	branch = main
[submodule "Detectors/De-Fake"]
	path = Detectors/De-Fake
	url = https://github.com/lavandejoey/De-Fake
	branch = main
[submodule "Detectors/UniversalFakeDetect"]
	path = Detectors/UniversalFakeDetect
	url = https://github.com/lavandejoey/UniversalFakeDetect
	branch = main
[submodule "Detectors/D3"]
	path = Detectors/D3
	url = https://github.com/lavandejoey/D3
	branch = main